* {
    box-sizing: border-box;
}

.carousel-container {
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.nav {
    display: none;
    color: #f3f3f3;
    text-decoration: none;
    position: absolute;
    background: rgba(0,0,0,0.8);
    top: 50%;
    padding: 20px;
    
}

.next {
    right: 0;
}

.nav:hover {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}

.slide {
    display: none;
    height: 600px;
}

.slide img {
    height: 100%;
}


